---
//Imports go here

const props = Astro.props;
---

<div class="project-card">
  <div class="project-header">
    <img class="logo" src={props.image_src} />
    <h2>{props.title}</h2>
  </div>
  <div class="project-body">
    <video controls autoplay muted>
      <source src={props.video_src} type="video/mp4" />
    </video>
    <p>{props.description}</p>
  </div>
  <div class="project-footer">
    <a href={props.url}>View Details</a>
  </div>
</div>

<style>
  .project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    border: grey solid 2px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px grey;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .project-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-card img {
    width: 100px;
    border-radius: 100%;
  }
  .project-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-header h2 {
    letter-spacing: 0.2rem;
    font-size: 50px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(51, 50, 50);
    margin: 50px;
    margin-top: 30px;
  }

  .project-body video {
    width: 80%;
    max-height: 500px;
  }

  .project-body p {
    margin: 50px;
    margin-bottom: 30px;
  }

  .logo {
    margin: 25px;
  }

  .project-footer a {
    font-size: 20px;
  }

  .project-footer {
    margin-bottom: 30px;
  }
</style>
